body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
}

.site-wrapper {
    min-width: 1200px;
    margin: 0 auto;
    background-color: #849d8f;
    background-image: url("../img/product-1-slider.png");
    background-repeat: no-repeat;
    background-position: top center;

    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.wrap-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main-navigation {
    line-height: 18px;
}

.site-navigation,
.catalog,
.user-navigation {
    list-style: none;
}

/*.site-navigation a {
    display: inline-block;
    vertical-align: middle;
}*/

/*.catalog-button:hover {
    width: 87px;
    background-color: #f7f6f3;
    border-radius: 50%;
}*/

.site-navigation a,
.user-navigation a {
    color: #ffffff;
}

/*.site-navigation > li > a {
    border-bottom: 1px solid #adbdb4;
}*/

.site-navigation a:hover,
.site-navigation a:focus {
    color: #333333;
    background-color: #f8f7f4;
    border-radius: 16px;
    text-decoration: none;
}

.site-navigation > li > a:active {
    font-weight: 700;
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
    background-color: #f8f7f4;
}

.site-navigation .active-link {
    background-color: #d07058;
    border-bottom: none;
}



.catalog a:active {
    background-color: #f6b5a5;
}

/*.user-navigation a {
    background-color: #a1b6aa;
}*/



/*.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #f8f7f4;
    color: #000000;
}*/



/*.search-link {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}



.search-form {
    display: none;
}

.user-navigation >li:hover .search-form {
    display: block;
}*/

.login-form {
    width: 277px;
    position: absolute;
    display: none;
}

.email[type="email"] {

}

.user-navigation >li:hover .login-form {
    display: block;
}

.wrap-logo {
/*    margin-top: 9px;*/
/*    margin-left: 27px;*/
    padding-top: 9px;
}

.main-header {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.site-navigation {
    /*width: 349px;*/
    /*margin-top: 23px;*/
    padding-left: 8px;
    padding-top: 25px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}


.catalog-button {
    display: block;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.2);
    padding-top: 7px;
    padding-bottom: 7px;
    width: 87px;
}

/*.catalog-button::after {
    content: "";
}*/

.catalog {
    position: absolute;
    top: 60px;
    display: none;
    margin: 0;
    padding: 0;
    /*width: 146px;*/
    background-color: #f8f7f4;
    border-radius: 10px;
    z-index: 2;
}

.catalog a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.catalog a:hover,
.catalog a:focus {
  border-radius: 0px;
}

.catalog a {
    color: #323232;
}

.catalog a:hover {
    background-color: #fbded7;
}

.first-item-catalog {
    font-weight: 700;
    border-bottom: 1px solid #d1d0ce;
}

.catalog .first-item-catalog:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.catalog .last-item-catalog:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.site-navigation > li:hover .catalog {
    display: block;
}

.site-navigation > li {
  padding-bottom: 5px;
}

.delivery-button {
    display: block;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.2);
    padding-top: 7px;
    padding-bottom: 7px;
    width: 170px;
}

.about-button {
    display: block;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.2);
    padding-top: 7px;
    padding-bottom: 7px;
    width: 120px;

}

.interface-navigation {
    margin-left: auto;
}

.user-navigation {
    display: flex;
/*    margin-top: 22px;*/
/*    width: 262px;
    margin-left: 370px;*/
    justify-content: space-between;
    padding-left: 0;
    padding-top: 23px;
    margin: 0;
}

.user-navigation.li:nth-child(2) {
  padding-left: 10px;
}

.user-navigation svg {
    fill: #ffffff;
    vertical-align: top;
}

.user-navigation a {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
}

.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #f8f7f4;
    color: #000000;
}

a:hover svg {
    fill: #000000;
}

.search-icon {
    position: relative;
    padding-bottom: 5px;
}

.search-link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.search-link svg {
    position: relative;
    top: 8px;
    left: 8px;
}

.search-form {
    position: absolute;
    display: none;
    border: 1px solid #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f8f7f4;
    border-radius: 5px;
    top: 40px;
    left: -300px;
}

.search-form input {
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.user-navigation >li:hover .search-form {
    display: block;
}

.login-link {
    display: block;
    border-radius: 15px;
    padding-top: 6px;
    padding-bottom: 3px;
    padding-left: 22px;
    padding-right: 15px;
}

.login-icon {
    padding-left: 11px;
}

.login-form {
    border: 1px solid #000000;
}

.cart-link {
    display: block;
    border-radius: 17px;
    padding-top: 7px;
    padding-bottom: 0px;
    padding-left: 22px;
    padding-right: 25px;
}

.cart-icon {
    padding-left: 18px;
}

.header-info {
/*    padding-left: 1010px;
    margin-top: -11px;
    font-size: 14px;
    text-align: right*/
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin: 0;
    flex-direction: column;
    font-size: 14px;
    margin-top: -10px;
}

.header-telephone {
    color: #ffffff;
    font-size: 22px;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";

    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("../img/product-2-slider.png");
}

.site-wrapper::after {
    background-image: url("../img/product-3-slider.png");
}

.slider {
    position: relative;

    padding-top: 280px;
    /*padding-right: 40px;*/

    text-align: center;
    color: #ffffff;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slide {
  display: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;

    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.button {
    display: inline-block;
    padding: 12px 44px;

    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background-color: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
}

.button:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.button.main-button {
    font-size: 18px;
    line-height: 24px;

    padding: 10px 40px;
}

.slider-controls {
    position: absolute;
    bottom: 20px;
    z-index: 20;

    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;

    vertical-align: top;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/product-1-slider.png");
}

#product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/product-2-slider.png");
}

#product-3:checked ~ .site-wrapper{
    background-color: #9d8b84;
    background-image: url("../img/product-3-slider.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}

.wrap-promo {
    display: flex;
}


/*li > catalog:hover {
    border-radius: 16px;
}*/


